<!DOCTYPE html>
{% extends "base.html" %}
<!-- {% load staticfiles %} -->

{% block content %}

<div class='section'>
	<div class="container">
		<div class='row'>
		<div class="col-md-5">
		 <h3 style="margin-Top: 50px; margin-Bottom: -15px;text-align: Left;"><i class="fa fa-envelope" aria-hidden="true"></i> Kontakt oss</h3>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
					
		</div>
		</div>
		<div class='row'>
			<div class="col-md-5">
		        <form method = 'POST' role="form"> {% csrf_token %}
			        <br style="clear:both">
			        			<p>admin@intellivest.no</p>
			    				<div class="form-group">
									<input type="text" class="form-control" name="contact_name" placeholder="Navn" required>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="contact_email" placeholder="Email" required>
								</div>
			                    <div class="form-group">
			                    <textarea class="form-control" type="textarea" name="content" placeholder="Din melding" maxlength="500" rows="10"></textarea>
			                        <!-- Sjekk lengde på medling, bruk javascript for å legge inn melding? -->
			                        <!-- <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                     -->
			                    </div>
			            
			        <button type="submit" id="submit" name="submit" class="btn btn-primary btn-lg pull-left">Send</button>
		        </form>


		        {% block alert %}



				{% endblock %}

			</div>

			<div class="col-md-1">
			
			</div>

			<div class="col-md-4">
				<br>
					<div id="map" style="width: 585px; height: 300px; position: absolute; top: 50px;"></div>
				<br>
			</div>
		</div>
	</div>
</div>

    <script>
      function initMap() {
        var uluru = {lat: 62.519645, lng: 6.118990};  
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLk3quY-8E6Uz1oJ1TmceEKgtkGArnwvU&callback=initMap">
    </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>



{% endblock %}
