<!DOCTYPE html>
{% extends "kontakt.html" %}
<!-- {% load staticfiles %} -->

{% block alert %}


<div class="alert alert-success alert-dismissible" role="alert" style="margin-Top: 75px;">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Meldingen din ble sendt til admin@intellivest.no</strong>
</div>


{% endblock %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>