body {
  padding-top: 60px;
}

.nav{
	margin-top:18px;
}

.navbar{
	min-height:90px;
	margin-bottom:0 !important;
}

.navbar-brand{
	height:auto;
	padding-top:15px;
	margin:0;
}

.navbar-brand>img {
  max-height: 100%;
  height: 100%;
  width: auto;
  margin: 5px auto;
}

.navbar-nav{
	margin:0;
	padding:0;
}

.navbar-nav li{
	padding-top:5px;
	padding-bottom:5px;
}

.navbar-nav > li > a{
	padding:20px;
	font-size:18px;
/*	font-weight: bold;*/
/*	border-right:1px solid #ccc;*/
/*	text-transform: uppercase;*/
	font-family: 'Oswald', sans-serif;
}

.navbar-nav > li > a span{
	margin:5px 0 0 0;
	padding:0;
	font-size: 14px;
	display:block;
	font-weight: normal;
	font-family: arial;
	text-transform: none;
}

.navbar-nav a:hover,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background:#0383c0 !important;
	color:#fff !important;
}

.section-primary{
	background:#0383c0;
	color:#fff;
	padding:60px 0;
}


.section-secondary{
	background:#337ab7; 
	color:#fff;
	padding:60px 0;
}

.section-secondary-white{
	background:#fff; 
/*	color:#fff;*/
	padding:60px 0;
}

.slogan{
	text-align: center;
}

.slogan h1{
	font-size:50px;
	margin-bottom:25px;
}

.slogan p{
	font-size:20px;
}

.slogan a{
	margin-top:20px;
}


.jumbotron{
	margin:0 !important;
	min-height:400px;
	background:url('../img/bg.jpg') no-repeat;
}

h1{
	/*text-transform: uppercase;*/
	font-family: 'Oswald', sans-serif;
}

.jumbotron h2{
	font-size:30px;
}
.jumbotron h1{
	font-size:55px !important;
}

.img-responsive {
max-width: 120% !important; /* or to whatever you want here */
max-height: auto !important; /* or to whatever you want here */
}

.img-second{
	max-width: 70% !important; 
	max-height: auto !important;
	padding-top: 0px;
	padding-bottom: 50px;
	padding-left: 50px;
}

.fa-color{
	color:#337ab7;
}

.feature-list li{
	list-style: none;
	font-size:18px;
	line-height: 2em;
}

.fa-stack        .fa { color: #fff ; cursor:default; }
 
/*.fa-stack        .fa.fa-circle-thin { color: black; }*/
.fa-stack        .fa.fa-circle { opacity:1.0; color:#337ab7; }

.fa-stack:hover  .fa.fa-user-plus { color: #fff; }
/*.fa-stack        .fa.fa-circle-thin { color: black; }*/
.fa-stack:hover  .fa.fa-circle { opacity:1.0; color:#204d74; }

/*.fa-pointer{ cursor: pointer; }*/

footer{
	text-align:center;
	height:60px;
	background:#101010;
	font-family: 'Oswald', sans-serif;
	color:#9d9d9d;
	padding-top:20px;
}